.container {
  width: 70%;
  height:80vh;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}

#btn {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #4ECCA3;
  padding: 1rem 3.5rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
